.error {
    color: red;
}
.alert {
    position: fixed;
    right: 10px;
    top: 10px;
    width: 300px;
    z-index: 9999;
    margin: 0;
    box-shadow: 10px -10px 15px 0px #00000029;
}
.action-btn-group {
    display: none;
}

.contact-block{
    &:hover {
        .action-btn-group {
            position: absolute;
            background-color: rgba(0, 0, 0, 0.2);
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}